:root {
    --background-color: rgb(23, 23, 23);
    --border-color: rgb(255, 255, 255, 0.1);
    --highlight-color: rgb(0,139,139);

}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
}

h1, h2, h3, a, p, li, span {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

nav .nav-section {
    padding: 2rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#nav-mobile-section {
    display: flex;
    flex-basis: calc(100% * (2 / 3));
    z-index: 2;
}

#nav-toggle-button { 
    align-items: center;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--border-color);
    color: white;
    cursor: pointer;
    display: none;
    gap: 0.8rem;
    height: 100%;
    justify-content: center;
    outline: none;
    padding: 0rem 3rem;
    position: relative;
    z-index: 3;
}




#nav-mobile-section,
#nav-contact-section { 
    font-size: 2rem;
}

#nav-logo-section {
    flex-basis: calc(100% / 4);
    justify-content: flex-start;
}

#nav-logo-section > a > i {
    font-size: 3rem;
    align-content:center ;
}

#nav-link-section {
    flex-basis: 50%;
    gap: 6rem; 
}

#nav-social-section {
    gap: 3rem;
}


.background-image img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    object-position: center; 
}




h4 {
    flex-basis: 50%;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0px;
    text-transform: uppercase;
    color: white;
}

h3 {
    flex-basis: 50%;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0px;
    text-transform: uppercase;
    color: white;
}

h5 {
    flex-basis: 50%;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vw;
    line-height: 3vw;
    margin: 0px;
    text-transform: uppercase;
    color: black;
}

h6 {
    flex-basis: 50%;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
    line-height: 3vw;
    margin: 0px;
    text-transform: uppercase;
    color: black;
}

.banner {
    position: relative;
}

.background-text {
    position: relative;
    top: -46vw;
    right: -57vw;
    color: #000;
}
#background-text:hover {
    color: var(--highlight-color);
}

.menu-container {
    position: relative;
}

#menu-toggle {
    display: none;
}


.menu {
    display: none;
    position: absolute;
    top: 75px;
    right: -25px;
    background-color: #171717;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px; 
}

.menu-container {
    position: relative;
    color: white;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



.menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    background-color: var(--highlight-color);
}


#menu-toggle:checked + .menu-icon + .menu {
    display: block;
}

h4, h3,  p, a,li,label {
    user-select: none;
}






.photography {
    position: relative;

    top: -7vw;
    right: 0vw;
    color: #000;
    text-align: center;
}
.photography-2 {
    position: relative;
    top: 2vw;
    right: 0vw;
    color: #000;
    text-align: center;

}



.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #363636 0%, #4d4a4a 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    top: 1vw;
    
    
    
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--highlight-color);
    transition: all 0.35s;
    border-radius: 4px;
}


.main__btn:hover:after {
    width: 100%;
}


.services {
    background: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--backround-color);
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: #fff;
}


.services__card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: rgb(23, 23, 23);
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
}


.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}


.services {
    background-color: #171717;
}
.services__card:nth-child(1) {
    background-image: url('im/london-07.jpg');
    background-size: cover;
    background-position: center;
    
}

.services__card:nth-child(2) {
    background-image: url('im/ramm2.jpg');
    background-size: cover;
    background-position: center;
       
}

.services__card:nth-child(3) {
    background-image: url('im/photos-html/munich/munich-22.jpg');
    background-size: cover;
    background-position: center;
       
}



.music {
    position: relative;

    top: 1vw;
    right: 0vw;
    color: #000;
    text-align: center;
}
.music-2 {
    position: relative;
    top: 1vw;
    right: 0vw;
    color: #000;
    text-align: center;

}



.main__btn__music {
    font-size: 1rem;
    background-image: linear-gradient(to top, #363636 0%, #4d4a4a 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    top: 1vw;
}

.main__btn__music a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn__music:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--highlight-color);
    transition: all 0.35s;
    border-radius: 4px;
}


.main__btn__music:hover:after {
    width: 100%;
}


.services__music {
    background: #171717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




.services__container__music {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--backround-color);
}


.services__card__music {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: #fff;
}




.services__card__music h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card__music p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card__music button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: rgb(23, 23, 23);
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
}



.services__card__music:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}



.services {
    background-color: #171717;
}
.services__card__music:nth-child(1) {
    background-image: url('im/album\ 1-2.jpg');
    background-size: cover;
    background-position: center;
       
}

.services__card__music:nth-child(2) {
    background-image: url('im/album\ 1.jpg');
    background-size: cover;
    background-position: center;
       
}

.services__card__music:nth-child(3) {
    background-image: url('im/album\ 2-3.jpg');
    background-size: cover;
    background-position: center;
       
}




.services__card__music button:hover {
    background-color: var(--highlight-color); 
}

.services__card button:hover {
    background-color: var(--highlight-color); 
}


.menu-icon:hover {
    color: var(--highlight-color); 

}




.services__card button:hover a {
    color: white; 
}


.services__card__music button:hover a {
    color: white; 
}







@media (max-width: 1312px) {
    .music, .services__music {
        margin-top: 125px;
    }
    .services {
        top: 100px;
    }
}

@media (max-width: 960px) {
    .services, .services__music {
        height: 1600px;
    }
    .services h1, .services__music h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media (max-width: 768px) {
    #nav-link-section {
        display: none;
    }
    .photography h4 {
        font-size: 1.5rem; 
        width: 90%;
        margin: 0 auto;
    }
    .fa-brands {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .main__btn, .main__btn__music {
        top: auto;
        right: auto;
    }
    .services, .services__music {
        height: 1400px;
    }
    .services__card, .services__card__music {
        width: 300px;
    }
    .services h1, .services__music h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 350px) {
    #nav-logo-section > a > i {
        font-size: 2rem;
    }
}

@media (max-width: 300px) {
    #nav-logo-section > a > i {
        font-size: 1rem;
    }
}
@media (max-width: 1295px) {
    .services__music {
        margin-top: 300px;
    }
    .services__container {
        margin-top: 300px;
    }
    .music-2 {
        margin-top: 150px;
        margin: -5px;
    }
    .music {
        margin-top: 300px;
    }
    .main__btn__music {
        margin-top: -100px;
    }
}

@media (max-width: 1048px) {
    .services__music {
        margin-top: 150px;
    }
    .services__container {
        margin-top: 500px;
    }
    .music-2 {
        margin-top: 150px;
        margin: -5px;
    }
    .music {
        margin-top: 500px;
    }
    .main__btn__music {
        margin-top: -20px;
    }
}
