:root {
    --background-color: rgb(23, 23, 23);
    --border-color: rgb(255, 255, 255, 0.1);
    --highlight-color: rgb(0,139,139);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow-x: hidden; 
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, a, p, li, span {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
}

h4, h3,  p, a,li,label {
    user-select: none;
}

.services__container__music {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--background-color);
}

.services__card__music {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: #fff;
}



.services__card__music h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card__music p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card__music button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: rgb(23, 23, 23);
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
}

.services__card__music button:hover {
    cursor: pointer;
    background-color: var(--highlight-color);
    color: white; 
    transition: background-color 0.3s ease; 
}

.services__card__music:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.services__card__music:nth-child(1) {
    background-image: url('im/album\ 1-2.jpg');
    background-size: cover;
    background-position: center;
    
}

.services__card__music:nth-child(2) {
    background-image: url('im/album\ 1.jpg');
    background-size: cover;
    background-position: center;
    
}

.services__card__music:nth-child(3) {
    background-image: url('im/album\ 2-3.jpg');
    background-size: cover;
    background-position: center;
    
}

.menu-icon:hover {
    color: var(--highlight-color); 
}

.services-btn-1 a,.services-btn-2 a,.services-btn-3 a {
    color: inherit;
    text-decoration: none;
} 

@media (max-width: 768px) {

    .fa-brands {
        font-size: 25px; 
    }

    #nav-logo-section {
        width: 50px; 
    }

    #nav-social-section {
        gap: 1rem;
    }

    #nav-link-section {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .services__card__music {
        width: 300px;
    }
}


@media (max-width: 350px) {
    #nav-logo-section > a > i {
        font-size: 1.5rem; 
    }
}