:root {
    --background-color: rgb(23, 23, 23);
    --border-color: rgb(255, 255, 255, 0.1);
    --highlight-color: rgb(0,139,139);
    --yt-color: rgb(229, 57, 53);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
}

h1, h2, h3, a, p, li, span {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

nav .nav-section {
    padding: 2rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#nav-mobile-section {
    display: flex;
    flex-basis: calc(100% * (2 / 3));
    z-index: 2;
}

#nav-toggle-button { 
    align-items: center;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--border-color);
    color: white;
    cursor: pointer;
    display: none;
    gap: 0.8rem;
    height: 100%;
    justify-content: center;
    outline: none;
    padding: 0rem 3rem;
    position: relative;
    z-index: 3;
}



#nav-toggle-button:hover,
#nav-toggle-button:hover > span {
    color: var(--highlight-color);
}

#nav-toggle-button > span,
#nav-toggle-button > i { 
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
}

#nav-social-section,
#nav-contact-section { 
    flex-grow: 1;
}
#nav-mobile-section,
#nav-contact-section { 
    font-size: 2rem;
}

#nav-logo-section {
    flex-basis: calc(100% / 4);
    justify-content: flex-start;
}

#nav-logo-section > a > i {
    font-size: 3rem;
    align-content:center ;
}

#nav-link-section {
    flex-basis: 50%;
    gap: 6rem; 
}

#nav-social-section {
    gap: 3rem;
}

.background-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 1px; 
}

.background-image img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    object-position: center; 
}
.background-2-image img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -1vw; 
}



h4 {
    flex-basis: 50%;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0px;
    text-transform: uppercase;
    color: white;
}

h3 {
    flex-basis: 50%;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0px;
    text-transform: uppercase;
    color: white;
}

h5 {
    flex-basis: 50%;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vw;
    line-height: 3vw;
    margin: 0px;
    text-transform: uppercase;
    color: black;
}

h6 {
    flex-basis: 50%;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
    line-height: 3vw;
    margin: 0px;
    text-transform: uppercase;
    color: black;
}
.menu-container {
    position: relative;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
}

.menu {
    display: none;
    position: absolute;
    top: 75px;
    right: -25px;
    background-color: #171717;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px; 
}

.menu-container {
    position: relative;
    color: white;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    border-bottom: 1px solid #171717;
}

.menu ul li:last-child {
    border-bottom: none;
}

.menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    background-color: var(--highlight-color);
}

#menu-toggle:checked + .menu-icon + .menu {
    display: block;
}

h4, h3,  p, a,li,label {
    user-select: none;
}

body {
    overflow-x: hidden;
}
.menu ul li a {
    color: white;
}
body {
    overflow-x: hidden;
}


main {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

main > article {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 400ms ease;  
}

main > article[data-status="inactive"] {
    transform: translateX(-200%);
    transition: none;
}

main > article[data-status="active"] {
    transform: translateX(0%);
}

main > article[data-status="before"] {
    transform: translateX(-100%);
}

main > article[data-status="after"] {
    transform: translateX(100%);
}

main > article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}

main > article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}

main > article > .article-section {
    height: 100%;
    display: flex;
}

main > article > .article-description-section,
main > article > .article-nav-section {
    border-left: 1px solid var(--border-color);
}

main > article > .article-title-section,
main > article > .article-nav-section {
    border-top: 1px solid var(--border-color);
}


main > article:first-child > .article-image-section {
    background-image: url("im/photos-html/ilam/dofe peak district-47.jpg");
    text-align: center;
}

main > article:nth-child(2) > .article-image-section {
    background-image: url("im/photos-html/london f/london-30.jpg");

}

main > article:nth-child(3) > .article-image-section {
    background-image: url("im/photos-html/r+ dublin/20240623_212733.jpg");

}
main > article:nth-child(4) > .article-image-section {
    background-image: url("");
}



main > article > .article-image-section {
    background-position: center;
    background-size: cover;
}

main > article > .article-description-section {
    flex-direction: column;
    justify-content: flex-end;
    padding: 0; 
    top: 0vw;
}

.article-description-section article-section{
    overflow: hidden;
    
    
}

main > article > .article-description-section > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25em;
}

main > article > .article-description-section > p  > a:hover {
    text-decoration: underline;
}

main > article > .article-title-section {
    align-items: center; 
    justify-content: space-between;
    padding: 2rem 4rem;
}

  main > article > .article-title-section * {
    color: white;
}

main > article > .article-title-section > h2 {
    flex-basis: 50%;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0px;
    text-transform: uppercase;
}

main > article > .article-title-section > i {
    color: rgba(255, 255, 255, 0.75);
    font-size:  4rem;
}

main > article > .article-nav-section > .article-nav-button {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 3rem;
    cursor: pointer;
}

main > article > .article-nav-section > .article-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.02);
}

main > article > .article-nav-section > .article-nav-button:nth-child(2) {
    border-left: 1px solid var(--border-color);
}
@media (max-width: 768px) {
    #nav-link-section {
        display: none;
    }
}
@media(max-width: 1200px) {    
    #nav-mobile-section {
      flex-basis: calc(100% * 0.75);
    }

    #nav-logo-section {
      flex-basis: calc(100% * 0.25);
    }
    
    #nav-link-section {
    flex-basis: calc(100% / 3);
    gap: 3rem;
    }

    main {
    overflow-y: auto;
    }
    
    main > article {
    grid-template-columns: none;
    grid-template-rows: 1.5fr repeat(3, 0.75fr) 0.25fr;
    height: max(900px, 100%);
    }
    
    main > article > .article-title-section > h2 {
    font-size: 3rem; 
    line-height: 2.6rem;
    }
    
    main > article > .article-title-section > i {
    font-size: 3rem; 
    }
    
    main > article > .article-description-section,
    main > article > .article-nav-section {
    border-left: none;
    }

    main > article > .article-image-section {
    order: 1;
    }
    
    main > article > .article-title-section {
    border-bottom: 1px solid var(--border-color);
    order: 2;
    }
    
    main > article > .article-description-section {
    justify-content: center;
    order: 3;
    }
    
    main > article > .article-nav-section {
    border-bottom: 1px solid var(--border-color);
    order: 4;
    }
}

@media(max-width: 800px) {  
    
    
   

    
 
    

    

    
    #nav-toggle-button {
    display: flex;
    }  
    
    #nav-link-section {
    flex-basis: 60%;
    flex-direction: column;
    gap: 4rem;
    }
    
    #nav-link-section > a {
    font-size: 3rem; 
    }
    
    #nav-social-section > a {
    font-size: 2rem; 
    }  
    
    #nav-contact-section {
    padding-bottom: 4rem;
    }
    
    main > article {
    grid-template-rows: 1fr repeat(4, 0.5fr);
    height: max(700px, 100%);
    }
    
    main > article > .article-title-section {
    padding: 2rem;
    }
    
    main > article > .article-title-section > h2 {
    flex-basis: 70%;
    font-size: 1.75em; 
    line-height: 1.5rem;
    }
    
    main > article > .article-title-section > i {
    font-size: 2rem; 
    }
    
    main > article > .article-description-section {
    padding: 2rem;
    }
    
    main > article > .article-description-section > p {
    font-size: 1rem;
    }
}


main > article > .article-description-section > p  > .source-link {
    color: var(--highlight-color);
    display: inline;
}

main > article .yt-link,
main > article .yt-link > i {
    color: var(--yt-color);
    display: inline;
}

main > article > .article-description-section > p {
    position: relative;
}

main > article > .article-description-section {
    flex-direction: column;
    justify-content: flex-start; 
    padding: 0;
    top: 0;
}

main > article > .article-description-section > .yt {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
    height: 100%;
}

main > article > .article-description-section > .yt > iframe {
    width: 100%;
    height: auto; 
}
.fa-sharp.fa-solid.fa-plus {
    font-size: 4rem; 
}

.article-description-section h4 {
    position: absolute;
    bottom: 0;
    
}



article[data-index="3"] {
    position: relative;
}

article[data-index="3"] .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; 
    object-fit: cover;
    z-index: 1; 
    outline: none; 
    border: none;  
}

article[data-index="3"] .article-image-section,
article[data-index="3"] .article-description-section {
    position: relative;
    z-index: 2; 
    outline: none; 
    border: none;  
}

article[data-index="3"] .article-title-section,
article[data-index="3"] .article-nav-section {
    position: relative;
    z-index: 3; 
    background-color: rgb(23, 23, 23); 


}



@media (max-width: 768px) {

    .fa-brands {
        font-size: 25px; 
    }

    html, body {
        overflow-x: hidden;
    }
    
    #nav-logo-section {
        width: 50px; 
    }
    #nav-links-section {
        width: 40px; /
    }
    

}

.background-text {

    margin-right: 50px; 
    width: fit-content; 
}

.nav-contact-section{
    width: 50px; 
    height: 50px; 
    
}


.nav {
    width: 100%;
    
}
body {
        overflow-x: hidden;
    }


    @media (max-width: 768px) {

        .fa-brands {
            font-size: 25px; 
        }
    
        html, body {
            overflow-x: hidden;
        }
        
        #nav-logo-section {
            width: 50px; 
        }
        #nav-links-section {
            width: 40px; 
        }
        
        #nav-social-section {
            gap: 1rem;
        }
    
    
    }
    
    @media (max-width: 350px) {
        #nav-logo-section > a > i {
            font-size: 2rem; 
        }
    }
    @media (max-width: 300px) {
        #nav-logo-section > a > i {
            font-size: 1rem; 
        }
    }